* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa; 
    color: #000000;
    line-height: 1.6;
    padding: 20px;
}


.hoja-vida-container {
    max-width: 800px;
    margin: 0 auto; 
    background-color: #ffffff;
    padding: 40px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08); 
    border-radius: 8px;
}


header {
    text-align: center;
    margin-bottom: 30px;
    position: relative; 
}


.boton-container {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-contacto {
    background-color: #010408;
    color: #ffffff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-contacto:hover {
    background-color: #000000;
}


.foto-redonda {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 50%;
    border: 4px solid #000205;
    margin-bottom: 15px;
    margin-top: 20px; 
}


h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    border-bottom: 3px solid #000000;
    display: inline-block;
    padding-bottom: 5px;
}

h2 {
    color: #000000;
    border-left: 5px solid #000000;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
}


.seccion-info {
    margin-bottom: 20px;
}


.separador {
    border: 0;
    height: 1px;
    background: #dcdcdc;
    margin: 20px 0;
}


.link-bitacora {
    color: #0026ff;
    font-weight: bold;
    text-decoration: none;
}

.link-bitacora:hover {
    text-decoration: underline;
     color: #0026ff;
}


ul, ol {
    margin-left: 20px;
    margin-top: 10px;
     color: #000000;
}

li {
    margin-bottom: 5px;
}


.dos-columnas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.columna {
    flex: 1; 
    min-width: 250px;
}


footer {
    margin-top: 40px;
    text-align: center;
    font-size: 0.9em;
    color: #000000;
}

footer a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

footer h3 {
    margin-bottom: 10px;
}
p{
    color: #010408;
}

link-from{
    color:aqua
    background-color: purple;
    padding:10px 15px;
}